<div class="container">
  <br>
  <div class="col-sm-6">
    <img src="images/programmer photo.jpg" alt="programming team photo">
  </div>
  <div class="col-sm-6">
      <h1 class="title">
        <p style="color:#008080;text-align: center;font-weight:700;font-size:100%">About Our Team</p>
        </h1>
      <br>
      <p>The members of our team made acquaintance under the pretexts of
      <a href="https://www.brandeis.edu/facultyguide/person.html?emplid=cf77fc02c3092393af1c05ae7032ca15f62851ca" target="_blank">
      <span style="color:#008080;font-style: italic;font-weight:500;">Professor Timothy J. Hickey's</a>
      Web Application Development at Brandeis
      University during the Summer term of 2020. </p>
      <p>We hope that this project serves as a reminder of those elemental human
      inheritances that we often dismiss: We are all dependent on community, we
      are at our best when we choose to experience communally. We hope you enjoy
      our project and give feedback for furtherance. </p>
        <br>
        <br>
        <br>
  </div>


<br>
<br>
  <h1 class="Individual">
  <p style="color:#008080;text-align: center;font-weight:700;font-size:100%">Read more about our team members below: </p></h1>
  <br>
  <br>
      <div class="col-sm-4">
        <li style = "color:#008080;text-align: center;font-weight:700;font-size:130%"><a href="/yi-wen">Yi-Wen Tseng</a></li>
      </div>
      <div class="col-sm-4">
        <li style = "color:#008080;text-align: center;font-weight:700;font-size:130%"><a href="/jennifer">Jennifer Lin</a></li>
      </div>
      <div class="col-sm-4">
        <li style = "color:#008080;text-align: center;font-weight:700;font-size:130%"><a href="/keyi">Keyi Jiang</a></li>
      </div>
      <br>
      <br>

</div>
