<div class="container">
  <div class="col-sm-6">
    <img src="images/programmer photo.jpg" alt="programming team photo">
  </div>
  <div class="col-sm-6">
      <h1 class="title">About Our Team</h1>
      <br>
      <p>The members of our team made acquaintance under the pretexts of
      <a href="https://www.cs.brandeis.edu/~tim/" target="_blank">Professor Timothy J. Hickey's</a>
      Web Application Development at Brandeis
      University during the Summer term of 2020. </p>
      <p>We hope that this project serves as a reminder of those elemental human
      inheritances that we often dismiss: We are all dependent on community, we
      are at our best when we choose to experience communally. We hope you enjoy
      our project and give feedback for furtherance. </p>
      <h3>Read more about our team below: </h3>
      <br>
      <ul>
        <li><a href="/yi-wen">Yi-Wen Tseng</a></li>
        <li><a href="/jennifer">Jennifer Lin</a></li>
        <li><a href="/keyi">Keyi Jiang</a></li>
      </ul>
      <!-- <a href="/contact">Contact Us</a> today! -->
    </div>
  </div>
