<div class="container">
  <div class="col-sm-6">
    <img src="images/fruit.jpg" alt="">
  </div>
  <div class="col-sm-6">
      <h1 class="title">About Our Team</h1>
      <ul>
        <li><a href="/yi-wen">Yi-Wen Tseng</a></li>
        <li><a href="/jennifer">Jennifer Lin</a></li>
        <li><a href="/keyi">Keyi</a></li>
      </ul>
      <a href="/contact.html">Contact Us</a> today!
    </div>
  </div>
</div>
