<div class="container">
  <div class="col-sm-6">
    <img src="images/share.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Reach out to other students!</h1>
    <p>Upload your notes and share them with other students!</p>
    <form action="/contact" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name" value="">
      <br>
      <label for="email">Email: </label>
      <input type="email" name="email" value="">
      <br>
      <!-- file including photos, pdf, or any type-->
      <label for="notes">Notes: </label>
      <input type="File" name="notes" value="">
      <br>
      <input class="button" type="submit" value="Submit">
      <br>
    </form>
  </div>
</div>
