<div class="container">
  <div class="col-sm-6">
    <img src="images/share.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Reach out to other students!</h1>
    <p>Upload your notes and share them with other students!</p>
    <form action="/review" method="post">
      <br>
      <label for="author">Author: </label>
      <input type="text" name="author" value="">
      <br>
      <label for="subject">Subject: </label>
      <input type="text" name="subject" value="">
      <br>
      <br>
      <label for="title">Course Title: </label>
      <input type="text" name="title" value="">
      <br>
      <br>
      <label for="courseID">Course Number: </label>
      <input type="text" name="courseID" value="">
      <br>
      <br>
      <label for="section">Course Section: </label>
      <input type="text" name="section" value="">
      <br>
      <br>
      <label for="term">Term: </label>
      <input type="text" name="term" value="">
      <br>
      <!-- file including photos, pdf, or any type-->
      <label for="notes">Notes: </label>
      <input type="text" name="notes" value="">
      <br>
      <input class="button" type="submit" value="Submit">
      <br>
    </form>
  </div>
</div>
