<div class="container">
  <div class="col-sm-6">
    <form method="post" action="/courses">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td> Major</td>
            <td>
              <select name="subject">
                <option value="">Any Subject</option>
                <option value="AAAS">African and African American Studies</option>
                <option value="AAPI">Asian-American Pacific Islander</option>
                <option value="AMST">American Studies</option>
                <option value="ANTH">Anthropology</option>
                <option value="ARBC">Arabic Language, Literature, and Culture</option>
                <option value="BCBP">Biochemistry and Biophysics</option>
                <option value="BIBC">Biology and Biochemistry</option>
                <option value="BIOL">Biology</option>
                <option value="BIOP">Biophysics and Structural Biology</option>
                <option value="BIOT">Biotechnology</option>
                <option value="BIPH">Biological Physics</option>
                <option value="BISC">Biological Science</option>
                <option value="BUS">Business</option>
                <option value="CA">Creative Arts</option>
                <option value="CAST">Creativity, the Arts and Social Transformation</option>
                <option value="CBIO">Chemical Biology</option>
                <option value="CHEM">Chemistry</option>
                <option value="CHIN">Chiness</option>
                <option value="CHSC">Chemical Science</option>
                <option value="CLAS">Classical Studies</option>
                <option value="COMH">Comparative Humanities</option>
                <option value="COML">Comparative Literature and Culture</option>
                <option value="COMP">Composition</option>
                <option value="CONT">Continuation</option>
                <option value="COSI">Computer Science</option>
                <option value="EAS">East Asian Studies</option>
                <option value="ECON">Economics</option>
                <option value="ECS">European Cultural Studies</option>
                <option value="ED">Education</option>
                <option value="EL">Experiential Learning</option>
                <option value="ENG">English</option>
                <option value="ENVS">Environmental Studies</option>


                <option value="MATH">Mathematics</option>
                <option value="MUS">Music</option>
                <option value="NPSY">Neuroscience</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <input type="submit">
    </form>
  </div>
  <div class="col-sm-6">


  </div>
</div>


<div class="container">
  <h2 class="title">Choose Your Major</h2>


  <div class="col-sm-6">
    <img src="images/courses.png" alt="">
  </div>
  <div class="col-sm-6">
      <a class="btn btn-primary btn-block" href="#" role="button">Anthropology</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Applied Mathematics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Biochemistry</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Biologial Physics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Biology</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Business</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Chemistry</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Comparative Literature</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Computer Science</a>
      <a class="btn btn-primary btn-block" href="#" role="button">East Asian Studies</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Economics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Education</a>
      <a class="btn btn-primary btn-block" href="#" role="button">English</a>
      <a class="btn btn-primary btn-block" href="#" role="button">German Studies</a>
      <a class="btn btn-primary btn-block" href="#" role="button">History</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Linguistics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Mathematics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Music</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Neuroscience</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Philosophy</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Physics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Politics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Psychology</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Sociology</a>
  </div>
</div>
