<div class="container">
  <div class="col-sm-6">
    <form method="post" action="/courses">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td> Major</td>
            <td>
              <select name="subject">
                <option value="">Any Subject</option>
                <option value="1193">Computer Science</option>
                <option value="1201">Mathematics</option>
                <option value="1202">Music</option>
                <option value="1203">Neuroscience</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <input type="submit">
    </form>
  </div>
  <div class="col-sm-6">
    <h1> List of all Courses</h1>
          <ol>
            <% faculty.forEach(fac => { %>
              <li>
                <a href="/courses/<%= fac.email %>">
                <%= fac.firstname %>
                <%= fac.lastname %>
                </a>
              </li>

            <% }); %>
          </ol>

  </div>
</div>


<div class="container">
  <h2 class="title">Choose Your Major</h2>


  <div class="col-sm-6">
    <img src="images/courses.png" alt="">
  </div>
  <div class="col-sm-6">
      <a class="btn btn-primary btn-block" href="#" role="button">Anthropology</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Applied Mathematics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Biochemistry</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Biologial Physics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Biology</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Business</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Chemistry</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Comparative Literature</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Computer Science</a>
      <a class="btn btn-primary btn-block" href="#" role="button">East Asian Studies</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Economics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Education</a>
      <a class="btn btn-primary btn-block" href="#" role="button">English</a>
      <a class="btn btn-primary btn-block" href="#" role="button">German Studies</a>
      <a class="btn btn-primary btn-block" href="#" role="button">History</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Linguistics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Mathematics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Music</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Neuroscience</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Philosophy</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Physics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Politics</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Psychology</a>
      <a class="btn btn-primary btn-block" href="#" role="button">Sociology</a>
  </div>
</div>
