<div class="container">
  <form method="post" action="editProfile" enctype="multipart/form-data">
  <div class="col-sm-4">
    <center>
      <label>Select your profile picture: </label>
      <input type="file" name="profile_pic">
    </center>
  </div>

    <div class="col-sm-6">
      <h3><%= user.googlename %></h3>
      <h4><%= user.googleemail %></h4>
      <p>Change username: </p>
      <input type="text" name="username"
         value="<%= user.username %>">
      <br>
      <br>
      <p>Change image by URL: </p>
      <input type="text" name="imageURL"
         value="<%= user.imageURL %>">
      <br>
      <br>
      <input class="btn btn-lg btn-info" type="submit" value="Update Profile">
    </div>



  </form>


</div>
