<div class="container">
  <div class="col-sm-6">
    <img src="images/share.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>(Explore more notes!)</h1>
    <!-- space for uploaded notes -->
    <p> We'll get back to you soon!</p>
  </div>
</div>
