<div class="container">
  <div class="col-sm-6">
    <img src="images/Homebg.jpg" alt="">
  </div>
  <div class="col-sm-6">

    <h3><q><i>Alone, we can do so little; together, we can do so much.</i></q> - Helen Keller </h3>
    <h4>Do you find yourself unable to jot down EVERYTHING your professor talks about in class?
      <br><br>Do you find yourself longing for the professor to upload his/her lecture slides
      in a timely manner? </h4>
    <p>We do. If your answer is also yes, we've found a solution:</p>
    <h4><b>* Your classmates can help</b></h4>
    <p> Find your course under <a href="/courses">the courses tab</a> and browse
       through your classmates' notes!</p>
    <h4><b>* Support your classmates</b></h4>
    <p> When you feel inspired to contribute, head over to <a href="/addNote">add a note</a>
       yourself.</p>
   <h4><b>* Connect with your classmates</b></h4>
      <h5>School is more than great exam results.</h5>
    <p>Create a community-oriented environment by sharing with and learning
   from each other and by commenting under your classmates' notes. </p>
 </div>
</div>
