<div class="container">
  <div class="col-sm-6">
    <img src="images/Homebg.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> Please check out our website!</p>
    <p> If you want to find the notes of your course, click <a href="/courses">the courses page</a> and select a subject to explore!</p>
    <p> When you want to share your notes, go to <a href="/contact">contact to upload! </a> Soon everyone will be able to enjoy your work!</p>
    <p> If you would like to explore more notes, check out our <a href="/forum">forum to find what fascinates you! </a> You can also contact the author of the notes!</p>
  </div>
</div>
