<div class="container">
  <div class="col-sm-6">
    <img src="/images/jennifer-headshot.jpg" alt="A photo of Jennifer Lin" />
  </div>
  <div class="col-sm-6">
    <h1 class="title">Jennifer Lin</h1>
    <h4>Jennifer Lin is a rising junior planning to
    major in Computer Science and Music.
    She’s born in Seattle, grew up in Belmont,
    Massachusetts, and lived in Kaohsiung, Taiwan for thirteen years before college.
    She has been playing the piano for over 15 years and had played the violin for 7 years
    before donating her violins to kids who practiced more.
    She enjoys chamber music a lot and seeks to bring people joy and peace with music.
    On top of playing music and coding, she enjoys playing board games and solving puzzles.</h4>
    <h4>  <a href="mailto:jennliny@brandeis.edu"><font color=#33CCCC><b>Contact her</b></font></a> </h4>
  </div>
</div>
