<div class="container">
  <div class="col-sm-6">
    <img src="/images/Keyi_Photo.jpg" alt="bio photos" />
  </div>
  <div class="col-sm-6">
    <h1 class="title">Keyi Jiang</h1>
    <br>
    <h4>Keyi Jiang (Jasmine)</h4>
    <h4>Undergraduate rising junior in Brandeis University</h4>
    <h4>Major: BA of Business, Film TV and interactive media;
             BS of Computer Science</h4>
    <h4>Language: Chinese, English, Korean</h4>
    <h4>Education Experience: Nanjing, London, Seoul, Massachusetts</h4>
    <h4>  Career: Public Accounting manager(Higuys_Official);
              assistant of advertising department in broadcasting and TV Station</h4>
    <h4>  Skills: PR, PS, Aegisub</h4>

  </div>
</div>
