<div class="container">

  <form action="/addRating/<%=note._id%>" method="post">
    <div>
      <h1>Rating & Comments</h1>
    </div>
    <div>
        <h3>Comments</h3>
    </div>
<div>
    <textarea name="comment" rows="10" cols="100"></textarea>
</div>
    <div>
      <center>
        <div class="rate" id="rates">
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
          </div>
      </center>
    </div>

    <br>
    <br>
    <br>

    <div>
    <input type="submit" value="Submit" class="btn btn-info">
  </div>
  </form>
</div>
