<div class="container">
  <div class="col-sm-6">
    <img src="/images/photo.jpg" alt="" />
  </div>
  <div class="col-sm-6">
  <h1 class="title">Yi-Wen Tseng</h1>
  <h4>Yi-Wen is a rising sophomore in Brandeis University. She is planning to major in
    applied mathematics and computer science. She also does an internship in a physics
    lab because of her interest in doing experiment and physics. That leads her to be a physics
     lecturer in her high school and a physics tutor off campus. Beyond academics, she enjoys
     volunteering and traveling to meet people in different background and culture.
     Therefore, she joins the American Cancer Society Club and works as the event coordinator planning
      various activities for supporting cancer patients.</h4>
  </div>
</div>
