<div class="container">
  <div class="col-sm-6">
    <img src="/images/photo.jpg" alt="" />
  </div>
  <div class="col-sm-6">
  <h1 class="title">Yi-Wen Tseng</h1>
  <h3>Yi-Wen is a rising sophomore from Taipei, Taiwan. She is planning to major in applied mathematics and computer science. She also does an internship in a physics lab because of my interest in doing experiment and physics. That leads her to be a physics lecturer in her high school and a physics tutor off campus. Beyond academy, she enjoys volunteering and traveling to meet people in different background and culture. Therefore, she joins the American Cancer Society Club and works as the event coordinator planning various on promoting cancer awareness.</h3>
  </div>
</div>
